{require_otp_vsn, "R14"}.

%% Directory to work with external applications
{deps_dir, ["deps"]}.

%% rebar target directories for application and releases
{sub_dirs, ["rel", "apps/gpt"]}.

%% Compiler options
{cover_enabled, true}.
{erl_opts, [
	    warn_unused_vars,
            warn_export_all,
            warn_shadow_vars,
            warn_unused_import,
            warn_unused_function,
            warn_bif_clash,
            warn_unused_record,
            warn_deprecated_function,
            warn_obsolete_guard,
            strict_validation,
            warn_export_vars,
            warn_exported_vars,
            warn_missing_spec,
	    warn_untyped_record,
	    debug_info]}. %, fail_on_warning

%% Dependencies list
% VKI
{deps,
 [
  {riak_err, ".*", {git, "https://github.com/basho/riak_err.git", "HEAD"}}
 ]}.
